<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand">Angular Training</span>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/all" routerLinkActive="active">Users List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">INVIVOO</a>
      </li>
    </ul>
  </div>
</nav>

<main class="container py-4">
  <router-outlet></router-outlet>
</main>
